@tailwind base;
@tailwind components;
@tailwind utilities;

@import './helpers';

:root {
  --inspect-color: #f00;
}

/* #region  /**=========== Scrollbars =========== */
/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: currentColor;
  @apply rounded-2xl;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: currentColor;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: currentColor transparent;
}
/* #endregion  /**======== Scrollbars =========== */

/* #region  /**=========== Selection =========== */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

html.dark * {
  ::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: white;
  }

  ::selection {
    color: black;
    background: white;
  }
}
/* #endregion  /**======== Selection =========== */

@layer base {
  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Italic.woff2') format('woff2'),
      url('/fonts/AtkinsonHyperlegible-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Regular.woff2') format('woff2'),
      url('/fonts/AtkinsonHyperlegible-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-BoldItalic.woff2') format('woff2'),
      url('/fonts/AtkinsonHyperlegible-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Bold.woff2') format('woff2'),
      url('/fonts/AtkinsonHyperlegible-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/fonts/Roboto-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('/fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black.woff2') format('woff2'),
      url('/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.woff2') format('woff2'),
      url('/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('/fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('/fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  html {
    line-height: 1.5;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-padding-top: 72px;
    @apply bg-white text-black;
  }
  @media (min-width: 768px) {
    html {
      scroll-padding-top: 112px;
    }
  }

  /* #region  /**=========== Typography =========== */
  h1,
  .h1 {
    @apply font-secondary font-light leading-none;
    font-size: clamp(3rem, 3.8vw + 1.5rem, 5rem);
    span {
      @apply inline-block font-primary font-bold;
    }
    strong {
      @apply inline-block font-bold;
    }

    @media (max-width: 321px) {
      font-size: 40px;
      line-height: 1.25;
    }
  }
  h2,
  .h2 {
    @apply font-secondary font-light leading-tight;
    font-size: clamp(1.875rem, 1.35vw + 1.5rem, 2.5rem);
    span {
      @apply font-primary font-bold underline;
      strong {
        font-weight: bold;
      }
    }
  }
  .h2-primary {
    @apply font-primary font-bold leading-tight;
    font-size: clamp(1.75rem, 1.8vw + 1rem, 2.25rem);
  }
  .h2-intro {
    font-size: clamp(1.25rem, 1vw + 0.75rem, 1.5rem);
    @apply font-secondary font-light leading-tight;
    span {
      @apply font-primary font-bold no-underline;
      strong {
        font-weight: bold;
      }
    }
  }
  h3,
  .h3 {
    @apply font-bold leading-none;
    font-size: clamp(1.5rem, 2vw + 0.75rem, 2rem);
  }
  .h3-card {
    @apply font-bold leading-none;
    font-size: clamp(1.375rem, 2vw + 0.75rem, 1.875rem);
  }
  h4,
  .h4 {
    @apply font-normal leading-none;
    font-size: clamp(1.25rem, 1.25vw + 1rem, 1.563rem);
  }
  h6,
  .h6 {
    font-size: clamp(1.125rem, 0.7vw + 1rem, 1.125rem);
    @apply font-bold;
  }
  /* #endregion  /**======== Typography =========== */
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  transition: opacity #{$duration / 3 + 's'} ease-in;
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

html.dark {
  @apply bg-black text-white;

  .link-hover-sub-text {
    .text-to-hover {
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 0);
    }

    &:hover .text-to-hover {
      text-decoration-color: rgba(255, 255, 255, 1);
    }
  }

  .link-to-hover {
    transition: text-decoration-color 0.3s ease;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    &:hover {
      text-decoration-color: rgba(0, 0, 0, 1);
    }
  }
}

/* #region  /**=========== Used for hooks =========== */
// used in use-prevents-scroll hook
html.no-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
    touch-action: none;
  }
}
/* #endregion  /**======== Used for hooks =========== */

/* #region  /**=========== Utilies =========== */
@layer utilities {
  .ta {
    transition: 0.3s ease;
  }
  .tl {
    transition: padding 0.3s ease, margin 0.3s ease, gap 0.3s ease,
      font-size 0.3s ease, height 0.3s ease;
  }

  .bs-header {
    box-shadow: 0px 0px 10px #00000029;
  }

  .link-hover {
    position: relative;
    &:not(.active) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 0;
        height: 2px;
        margin-top: 5px;
        background-color: currentColor;
        transition: 0.4s ease;
      }
      &:hover {
        &:after {
          width: 100%;
          left: 0;
          background-color: currentColor;
        }
      }
    }

    &.active {
      font-weight: bold;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: 5px;
        background-color: currentColor;
      }
    }
  }
  .link-hover-sub-text {
    .text-to-hover {
      transition: text-decoration-color 0.3s ease;
      text-decoration: underline;
      text-decoration-color: rgba(0, 0, 0, 0);
    }

    &:hover .text-to-hover {
      text-decoration-color: rgba(0, 0, 0, 1);
    }
  }
  .link-to-hover {
    transition: text-decoration-color 0.3s ease;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    &:hover {
      text-decoration-color: rgba(0, 0, 0, 1);
    }
  }

  .link-hover-small {
    position: relative;
    &:not(.active) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 0;
        height: 2px;
        margin-top: -3px;
        background-color: currentColor;
        transition: 0.4s ease;
      }
      &:hover {
        &:after {
          width: 100%;
          left: 0;
          background-color: currentColor;
        }
      }
    }

    &.active {
      font-weight: bold;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -3px;
        background-color: currentColor;
      }
    }
  }

  .px-fluid {
    padding-left: tovw(16px, 16px, 'mobile');
    padding-right: tovw(16px, 16px, 'mobile');
  }
  .px2-fluid {
    padding-left: tovw(32px, 32px, 'mobile');
    padding-right: tovw(32px, 32px, 'mobile');
  }
  .l-fluid {
    left: tovw(16px, 16px, 'mobile');
  }
  .r-fluid {
    right: tovw(16px, 16px, 'mobile');
  }

  @media (min-width: 768px) {
    .px-fluid {
      padding-left: tovw(40px);
      padding-right: tovw(40px);
    }
    .px2-fluid {
      padding-left: tovw(80px);
      padding-right: tovw(80px);
    }
    .l-fluid {
      left: tovw(40px);
    }
    .r-fluid {
      right: tovw(40px);
    }
  }

  .py-fluid {
    @apply py-10 md:py-6 lg:py-8 xl:py-12 #{!important};
  }

  .list-border-b li:not(:last-child) {
    @apply border-b-2 border-b-current;
  }

  .list-border {
    & li {
      @apply border-b-2 border-b-current;
      &:first-child {
        @apply border-t-2 border-t-current;
      }
    }
  }

  .list-border-center {
    border-top: 1px solid currentColor;
    & > div:not(:last-child) {
      border-bottom: 1px solid currentColor;
    }
  }

  @media (min-width: 768px) {
    .list-border-center {
      & > div:nth-child(1),
      & > div:nth-child(3) {
        border-right: 1px solid currentColor;
      }
      & > div:nth-child(3) {
        border-bottom: none;
      }
    }
  }
  @media (min-width: 1280px) {
    .list-border-center {
      & > div:not(:last-child) {
        border-right: 1px solid currentColor;
      }
      & > div:nth-child(1),
      & > div:nth-child(2) {
        border-bottom: none;
      }
    }
  }
}
/* #endregion  /**======== Utilies =========== */

.line-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Browsers which partially support CSS variables (iOS 11.0 – 11.2) */
@supports (padding-top: constant(safe-area-inset-top)) {
  body {
    --safe-area-inset-top: constant(safe-area-inset-top);
    height: calc(100% + var(--safe-area-inset-top));
  }
}
/* Adapted from https://medium.com/@draganeror/iphone-x-layout-features-with-css-environment-variables-d57423433dec */
/* Browsers which fully support CSS variables (iOS 11.2+).*/
@supports (padding-top: env(safe-area-inset-top)) {
  body {
    --safe-area-inset-top: env(safe-area-inset-top);
    height: calc(100% + var(--safe-area-inset-top));
  }
}

@media (display-mode: fullscreen) {
  body {
    height: 100%;
  }
}

@media (display-mode: standalone) {
  body {
    height: 100%;
  }
}

.bottom-safe-area {
  margin-bottom: env(safe-area-inset-bottom) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: env(safe-area-inset-right) !important;
}

.min-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  );
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
}

.max-safe-h-screen {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  );
}

@supports (-webkit-touch-callout: none) {
  .max-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
}
